/* 
  stylesheet for portfolio
  responsive webpage
  created on 27/2/2024
  last edited 4/4/2024
  created by Wakana Gushi 
*/


:root {
  --main-background:#F8F2EC;
  --nav-color:#E3E6E6;
  --footer-color:#E3E6E6;
  --input-color: #F8F2EC ;
  --button-color: #9B9A96;
  --button-hover-color: #413839;
}

*, ::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* -----import new fonts----- */
@font-face {
  font-family: "agrandir";
  src: url("font/Agrandir-Regular.otf") format("truetype");
}

@font-face {
  font-family: "agrandir-bold";
  src: url("font/Agrandir-GrandBold.ttf") format("truetype");
}
@font-face {
  font-family: "TT-Commons";
  src: url("font/TT-Commons-Regular.otf") format("opentype");
}

@font-face {
  font-family: "TT-Commons-light";
  src: url("font/TT Commons Light.otf") format("opentype");
}

@font-face {
  font-family: "arsenica";
  src: url("font/Arsenica Trial Medium 500.ttf") format("truetype");
}

@font-face {
  font-family: "arsenica-light-italic";
  src: url("font/Arsenica Trial Light Italic 300.ttf") format("truetype");
}

/* -----body----- */

body{
  font-family: "TT-Commons", sans-serif;
  font-size: 16px;
  background-color: var(--main-background);
  line-height:1.4rem;
  max-width: 1920px;
  min-width: 320px;
  position: center;
  margin: 10% auto;
}
 p {
  font-size: 1.8rem;
  line-height: 1.6rem;
 }

 a {
  color: #0000A5;
  text-decoration: none;
}

a:hover {
  color: #79BAEC;
  cursor:pointer;
}


/* -----nav----- */
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  background: var(--nav-color);
  padding: 10px;

  font-size: 1.2rem;
}
 ul {
  list-style: none;
 }

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 4rem;
}

.nav li{
  padding-left: 15px;
}




/* -----Welcone-----  */

.welcome-section {
  display: flex;
  width: 100%;
  height: 100vh;
}

.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top:180px;
  font-family: "agrandir", "TT-Commons", sans-serif;
  font-weight: bold;
}

.hello #hello {
  font-size: 2rem;
  margin-left: -650px;
}

#hello-name {
  font-size: 3.3rem;
  margin-top: 100px;
  font-family: "agrandir-bold", "TT-Commons", sans-serif;
}
#hello-title {
  font-size: 3rem;
  margin-top: 80px;
  margin-bottom: 60px;
}

#jobtitle {
  font-size: 1.3rem;
}


#welcome-section img{
  height: auto;
  width: 100%;
}

.device-image {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  margin-top: -100px;
}

.device1 {
  grid-column: 1 / 2;
  justify-self: end;
  max-width: 400px;

}

.device2 {
  grid-column: 2 / 3;
  justify-self: end;
  align-self: end;
  margin-right: -130px;
  max-width: 300px;
}

.device3 {
  grid-column: 3 / 4;
  justify-self: start;
  max-width: 400px;
}




/* -----about me----- */

.title{
  font-family: "TT-Commons", sans-serif;
  font-size: 4rem;
  margin-top: 120px;
  margin-bottom: 60px;
  line-height:4rem;
  letter-spacing: 0.1rem;
}

.about-container {
  display: grid;
  grid-template-columns:  repeat(8, 1fr);
  grid-template-rows:  repeat(3, 150px);
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-title{
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  align-self: end;
}

.about-me p {
  width: 75%;
  height: auto;
  grid-column: 5 / 8;
  grid-row: 2 / 4;
  align-self: start;
  justify-self: center;
  margin-top:10px; 
}

.my-photo-wrapper{
  display: flex;
  grid-column: 3 / 5;
  grid-row: 2 / 4;
  align-self: start;
  justify-self: center;
}


#my-photo{
  height: auto;
  max-width: 90%;
  border-radius: 10%;
}


/* -----qualification----- */


.qualification-container{
  display: grid;
  grid-template-columns:  repeat(8, 1fr);
  grid-template-rows:  1fr 2fr;
  margin-top: 120px;
  margin-bottom: 50px;
}

.qualifications-title{
  grid-column: 2 / 5;
  grid-row: 1 / 2;
}

.qualification-article{
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  margin-left: 20px; 
}

.qualification-article p {
  width: 70%;
  height: auto;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  align-self: start;
  justify-self: center;
  padding-top: 25px;
}

.qualification-article p:first-child{
  padding-top: 0;
}

#certification-image{
  grid-column: 5 / 8;
  grid-row: 2/ 3;
  align-self: start;
  justify-self: center;
  height: auto;
  width: 100%;
  max-width:80%;
}




/* -----Skills----- */

.skills-container{
  display: grid;
  grid-template-columns:  repeat(5, 1fr);
  grid-template-rows:  repeat(5, 150px);
  margin-bottom: 100px;
  margin-right: 50px;
  grid-gap: 5px;
}


.skils-title{
  grid-column:  1/ -1;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

.skill-sentense {
  grid-column:  1/ 3;
  grid-row: 1 / -1;
  justify-self: center;
  align-self: center;
}

.skill-sentense p{
  font-size: 3rem;
  line-height:3.3rem;
  letter-spacing: 3px;
}

.italic {
  font-style: italic;
  font-family: "arsenica-light-italic", "TT-Commons", sans-serif;
  font-size: 2.8rem;
  margin: 0 0 0 -40px;
}


.skill_heading {
  font-family: "arsenica", "TT-Commons", sans-serif;
  font-size: 2.0rem;
  margin-top: 50px;
  margin-bottom: 30px;
}

.skill-items-box {
  display: grid;
  grid-column:  3/ 6;
  grid-row: 2 / -1;
  grid-gap:60px;
  justify-self: start;
}

.skills-container li{
  font-size: 1.8rem;
  margin-bottom: 5px;
}
.top-skills {
  grid-column:  3/ 4;
  grid-row: 2 / 4;
}
.technologies {
  grid-column:  4/ 5;
  grid-row: 2 / 4;
}
.tools{
  grid-column:  5/ 6;
  grid-row: 2 / 4;
}
.languages{
  grid-column:  4/ 5;
  grid-row: 4 / 6;
}
.other{
  grid-column:  5/ 6;
  grid-row: 4 / 6;
}





/* -----My Work----- */
.projects-title{
  margin: 0 auto 60px auto;
  text-align: center;
}

#projects{
 margin: 0 40px;
}

.project-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap:3rem;
  width: 100%;
  margin: 100px auto;
}

.project {
  border-radius: 5px;
}
.project-image{
  height: auto;
  width: 100%
}

.project-name {
  font-size:1.6rem;
 text-align: center;
}


/* -----contact form----- */

.contact-form-title {
 margin: 100px 0 50px 100px;;
}

#contact{
  border: none;
  margin-bottom: 100px;
}

#contact > p{
  font-size: 1.8rem;
  margin: 0 0 0 120px;
}

.contact-form-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px 0 0 40px;
  justify-items: center;
  align-items: center;
}

.contact-form {
  grid-column:  1/ 2;
}

.form-heading {
  font-family: "arsenica", "TT-Commons", sans-serif;
  font-size: 1.3rem;
  margin-top: 50px;
  margin-bottom: 30px;
}

.mail-image {
  grid-column:  2/ 3;
  justify-self:center;
}

input, textarea {
  background: var(--input-color);
  margin:15px 0;
  line-height: 1.5rem;
  border: none;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  font-size: 1rem;
}



#mail-icon {
  width: 60%;
  height: auto;
}

#submit-button {
  padding: 10px 60px;
  border-radius: 15%; 
  background-color: var(--button-color);
  color: white;
}

#submit-button:hover {
  background-color: var(--button-hover-color);
  cursor:pointer;
}

/* -----Footer----- */

footer {
  font-weight: 0.8rem;
  width: 100%;
  justify-content: space-between;
  padding: 5px 50px;
  max-width: 100vw;
  background: var(--footer-color);
  border-top:solid 2px rgba(0, 0, 0, 0.4);
}

footer > p {
  margin: 0.5rem;
  text-align: right;
}



/* ------------ media 1280px -------------- */
@media (max-width: 1280px) {
 
  html {
    font-size: 90%;
    line-height: 90%;
   }

/* --- nav --- */
  .nav-list {
  margin-right: 2rem;
  }

/* --- welcome --- */
.hello #hello {
  margin-left: -500px;
}
  #hello-name {
    margin-top: 70px;
  }
  #hello-title {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .device1 {
    max-width: 300px;
  }
  
  .device2 {
    margin-right: -110px;
    max-width: 230px;
  }
  
  .device3 {
    max-width: 300px;
  }

  /* --- about me --- */
  .title{
    margin-top: 90px;
    margin-bottom: 40px;
  }
  
  .about-me p {
    width: 80%;
  }
  
  .my-photo-wrapper{
    align-self: center;
  }
  
  #my-photo{
    max-width: 90%;
  }

  /* --- qualification --- */
  .qualification-article p {
    width: 85%;
  }
  #certification-image{
    justify-self: center;
    max-width:80%;
  }

  /* --- skills --- */

  .skill-items-box {
    grid-gap:1.8rem;
  }
  
  .skills-container li{
    margin-bottom: 5px;
  }

  .skill-sentense p{
    font-size: 2.8rem;
    line-height:3.3rem;
    letter-spacing: 3px;
  }

  .skill_heading {
    font-size: 1.8rem;
  }

  /* --- my work --- */
  .project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:2rem;
  }
}


/* ------------ media 900px -------------- */
@media (max-width: 900px) {
  html {
    font-size: 75%;
  }

  

/* --- welcome --- */
.hello {
  margin-top:100px;
}
  .hello #hello {
    margin-left: -300px;
  }
  #hello-name {
    margin-top: 50px;
  }
  #hello-title {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  #jobtitle {
    font-size: 1.2rem;
  }
  .device1 {
    max-width: 200px;
  }
  .device2 {
    margin-right: -65px;
    max-width: 130px;
  }
  .device3 {
    max-width: 200px;
  }

  /* --- about me --- */

  .title{
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .about-container {
    display: grid;
    grid-template-columns:  repeat(8, 1fr);
    grid-template-rows:  repeat(3, 80px);
    margin-top: 70px;
    margin-bottom: 0px;
  }
  .about-me p {
    width: 95%;
    grid-column: 4 / 8;
    margin-top:10px; 
  }
  .my-photo-wrapper{
    grid-column: 2 / 4;
    grid-row: 2/4;
    margin-top: 50px;
  }
  #my-photo{
    max-width: 90%;
  }

  /* --- qualification --- */
  .qualification-article{
    margin-left: 0px; 
  }
  .qualification-article p {
    width: 95%;
  }
  #certification-image{
    justify-self: end;
    max-width:85%;
  }

  /* --- skills --- */

  .skills-container{
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows:  repeat(5, 120px);
    margin-bottom: 0px;
    margin-right: 10px;
    grid-gap: 5px;
  }
  .skills-container li{
    margin-bottom: 5px;
  }
  .skill_heading {
    font-size: 1.8rem;
  }
  .skill-sentense {
    margin-left: 50px;
  }
  .skill_heading {
    margin-top: 10px;
    margin-bottom: 25px;
  }


  /* --- my work --- */
  .project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap:1.5rem;
  }

  .contact-form-title {
    margin: 5px 0 50px 30px;;
   }
   
   #mail-icon {
    width: 50%;
    height: auto;
  }
   
   #contact > p{
     margin: 0 0 0 30px;
   }
}


/* ------------ media 750px -------------- */
@media (max-width: 750px) {
  html {
    font-size: 70%;
  }
  body{
    margin: 5% auto;
  }

  /* --- welcome --- */
  .hello #hello {
    margin-left: -150px;
  }
  #hello-name {
    margin-top: 35px;
  }
  #hello-title {
    margin-top: 35px;
    margin-bottom: 25px;
  }
  .device-image {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin-top: -55px;
    grid-gap: 8px;
  }
  .device1 {
    justify-self: end;
    max-width: 75%;
  }
  .device2 {
    justify-self: end;
    max-width: 50%;
    margin-right: -44px;
  }
  .device3 {
    justify-self: start;
    max-width: 75%;
  }

  /* --- about me --- */
  .about-container {
    display: block;
  }
  .title{
    margin: 80px 30px 40px 30px;;
    line-height:3.5rem;
  }

  .about-me p {
    width: 95%;
    height: auto;
    padding:0 40px; 
    order: 2; 
  }
  .my-photo-wrapper{
    margin-top: 30px;
  }
  #my-photo{
    display:block;
    max-width: 30%;
    border-radius: 10%;
    margin: 20px auto;
  }

 

    /* --- qualification --- */
  .qualification-container{
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .qualification-article{
    margin-left: 30px;
    width: 95%;
  }
  .qualification-article p {
    width: 100%;
    padding: 10px 10px 10px 20px;
  }
  #certification-image{
    display: block;
    max-width:40%;
    margin: 50px auto;
  }


    /* --- skills --- */

    .skills-container{
      display: block;
      margin-bottom: 40px;
      margin-right: 15px;
      margin-left: 15px;
      grid-gap: 5px;
    }
  
  .skils-title{
   text-align: center;
    margin-bottom: 0;
  }
  
  .skill-sentense {
    grid-column:  1/ 3;
    grid-row: 2 / 3;
    justify-self: start;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .skill-sentense p{
    font-size: 2.5rem;
    line-height:2.7rem;
    letter-spacing: 3px;
  }
  .skill-items-box{
    display: flex;              
    flex-wrap: wrap; 
    justify-content: space-around; 
    margin-left: 20px;
    gap: 5px;
  
}

  /* --- my work --- */
  .project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap:1.5rem;
    margin: 35px auto;
  }

/* -----contact form----- */

 #contact{
   border: none;
   margin-bottom: 100px;
 }
 #contact > p{
   margin: 0 0 0 40px;
 }
 .contact-form-container{
   display: grid;
   grid-template-columns: 2fr 1fr;
   margin: 20px 0 0 40px;
   justify-items: center;
   align-items: center;
 }
 


}


/* ------------ media 500px -------------- */

@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  /* -----nav----- */
  .nav-list {
    display: flex;
    margin-right: 2rem;
    font-size: 14px;
  }
  /* --- welcome --- */
  .hello #hello {
    margin-left: -150px;
  }
  #hello-name {
    margin-top: 35px;
  }
  #hello-title {
    font-size: 2.7rem;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .device-image {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin-top: -55px;
    grid-gap: 8px;
  }
  .device1 {
    justify-self: end;
    max-width: 75%;
  }
  .device2 {
    justify-self: end;
    max-width: 50%;
    margin-right: -44px;
  }
  .device3 {
    justify-self: start;
    max-width: 75%;
  }

  /* -----about me----- */
  #my-photo{
    max-width: 45%;
  }

    /* --- footer --- */
  footer {
    flex-direction: column;
    text-align: center;
  }

}
/* ------------ media 430px -------------- */

@media (max-width: 430px) {

  html{
    font-size:58%;
  }

  /* -----nav----- */
  .nav {
    justify-content: flex-start;
  }
  .nav-list {
    margin: 1rem;
  }
  .nav li{
    padding: 5px 5px 0 5px;
  }

  /* --- welcome --- */


  .hello #hello {
    font-size: 1.6rem;
    margin-left: -80px;
    margin-top: 20px;
  }

  #hello-name {
    font-size: 2.8rem;
    margin-top: 30px;
  }
  #hello-title {
    font-size: 2.5rem;
    margin-top: 30px;
  }
  #jobtitle {
    font-size: 1.2rem;
  }

  .device-image {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin-top: -10px;
    grid-gap: 8px;
  }
  .device1 {
    justify-self: end;
    max-width: 75%;
  }
  .device2 {
    justify-self: end;
    max-width: 40%;
    margin-right: -30px;
  }
  .device3 {
    justify-self: start;
    max-width: 75%;
  }


/* -----about me----- */

.title{
  font-size: 3rem;
  margin: 60px 0px 20px 30px;
  line-height:3.3rem;
  padding: 0;
}
.about-container {
  margin-top: 0px;
  margin-bottom: 20px;
}
.about-me p {
  padding:0 25px; 
}
.my-photo-wrapper{
  margin-top: 20px;
}
#my-photo{
  max-width: 50%;
  margin: 0px auto;
}

/* -----qualification----- */
.qualification-container{
  margin-top: 0px;
  margin-bottom: 10px;
}
.qualification-article{
  margin-left: 15px; 
  margin-top: 0px;
}
.qualification-article p {
  padding-top: 8px;
}

#certification-image{
  max-width:75%;
  margin: 20px auto;
}

/* --- skills--- */

.skills-container{
  margin-bottom: 20px;
  margin-right: 5px;
}
.skill-sentense {
  text-align: center; 
  margin-left: 0;
  margin-bottom: 0;
}
.skill-sentense p{
  font-size: 2.3rem;
  line-height:2.7rem;
  letter-spacing: 3px;
}
.skills-container li{
  font-size: 1.7rem;
  margin-bottom: 5px;
  margin-right: 10px;
}
.italic {
  font-size: 2.3rem;
  margin: 0;
}
.skill_heading {
  font-size: 1.9rem;
  margin-top: 40px;
  margin-bottom: 15px;
}
.skill-items-box{
  justify-content:flex-start; 
}

/* -----contact form----- */
#contact {
  margin-bottom: 60px;
}

}
